body {
    width: 900px;
    margin: 10px;
}

section {
    width: 400px;
    margin: 10px ;
    float: left;
}

section > div {
    width: 300px;
    height: auto;
    margin: 10px auto;
    text-align: center;
    border: solid medium #808080;
}

.canvassmall {
    overflow: hidden;
}

aside {
    width: 300px;
    margin: 10px auto;
    float: right;
}

    aside > div {
        text-align: center;
    }

#showMap {
    height: 300px;
    width: 100%;
}