body
{
}

.slides{
    border: 2px solid black;
    width: 300px;
    height: 200px;
    margin: 100px auto;
    animation-name: slideshow;
    animation-duration: 8s;
    animation-iteration-count: 4;
    animation-direction: alternate;
}

.slides:hover {
    animation-play-state: paused;
}

@keyframes slideshow {
    from {
        opacity: 0;
        animation-timing-function: ease-in;
        /*-webkit-animation-timing-function: ease-in;*/
    }

    25%,75% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}