@-webkit-keyframes slide1 {
    0% {
        left: 0px;
    }
    /*display*/
    10%,40% {
        left: 0px;
        opacity: 1;
        z-index: 0;
    }
    /*exiting*/
    50%{
        left: 645px;
        opacity: 0;
        z-index: 0;
    }

    60% {
        left: -645px;
        opacity: 0;
        z-index: -1;
    }
    /*entering*/
    90%{
        left: -645px;
        opacity: 0;
    }

    100% {
        left: 0px;
        opacity: 1;
    }
}

@-moz-keyframes slide1 {
        0% {
        left: 0px;
    }
    /*display*/
    10%,40% {
        left: 0px;
        opacity: 1;
        z-index: 0;
    }
    /*exiting*/
    50%{
        left: 645px;
        opacity: 0;
        z-index: 0;
    }

    60% {
        left: -645px;
        opacity: 0;
        z-index: -1;
    }
    /*entering*/
    90%{
        left: -645px;
        opacity: 0;
    }

    100% {
        left: 0px;
        opacity: 1;
    }
}

@-webkit-keyframes slide2 {
    0%{
        left: -645px;
        opacity: 0;
    }

    40% {
        left:-645px;
        opacity: 0;
    }
    
    50%,80% {
        left: 0px;
        opacity: 1;
        z-index: 0;
    }

    90% {
        left: 645px;
        opacity: 0;
    }

    100% {
        left: -645px;
        opacity: 0;
    }
}

@-moz-keyframes slide2 {
    0%{
        left: -645px;
        opacity: 0;
    }

    40% {
        left:-645px;
        opacity: 0;
    }
    
    50%,80% {
        left: 0px;
        opacity: 1;
        z-index: 0;
    }

    90% {
        left: 645px;
        opacity: 0;
    }

    100% {
        left: -645px;
        opacity: 0;
    }
}

body
{
    margin: 50px auto;
}

article header {
    font: normal 3em 'Flamenco';
    text-align: center;
}

.main{
    margin: 0 auto;
    overflow: hidden;
    width: 960px;
}

#slides{
    border: 2px solid #808080;
    box-shadow: 0 0 1em #c2bcbc;
    width: 640px;
    height: 480px;
    margin: 20px auto;
}

#slides:hover li{
    -webkit-animation-play-state:paused;
    -moz-animation-play-state: paused;
}

#slides ul {
    margin: 0;
    padding: 0;
    position: relative;
}

#slides li {
    width: 640px;
    height: 480px;
    position: absolute;
    left: -645px;
    list-style: none;
}

#container{
    overflow: hidden;
    height: 480px;
}

/*only use 10s/2 time*/
#container li.animation1{
    -webkit-animation: slide1 10s linear 10;
    -moz-animation: slide1 10s linear 10;
    -webkit-animation-play-state:running;
    -moz-animation-play-state:running;
}

#container li.animation2{
    -webkit-animation: slide2 10s linear 10;
    -moz-animation: slide2 10s linear 10;
    -webkit-animation-play-state:running;
    -moz-animation-play-state:running;
}
