body {
    margin: 50px auto;
}

article header {
    font: normal 3em 'Flamenco';
    text-align: center;
}

.main {
    margin: 0 auto;
    overflow: hidden;
    width: 960px;
}

#slides {
    border: 2px solid #808080;
    box-shadow: 0 0 1em #c2bcbc;
    width: 640px;
    height: 484px;
    margin: 20px auto;
}

#container {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    height: 480px;
}

#slides img {
    width: 640px;
    height: 480px;
    position: absolute;
    left: 0;
}

#controls {
    width: 675px;
    position: absolute;
    top: 350px;
    left: 255px;
}

#left {
    width: auto;
    height: 2em;
    float: left;
}

 #right {
    width: auto;
    height: 2em;
    float: right;
}

#slides-nav {
    width: 230px;
    margin: 10px auto;
    display: flex;
    display: -ms-flexbox;
    justify-content: center;
}

#slides-nav > div {
    display: flex;
    align-items: center;
    margin: 10px auto;
    min-width:14px;
}

#tbncontainer {
    flex: 3 1 auto;
    -webkit-box-flex:  3 1 ;
    overflow:hidden;
}

#tbncontainer img {
   min-width: 66px;
   margin: 0 auto;
}

.activeNav {
    border: 1px solid red;
}