
@-webkit-keyframes slide1 {
    0% {
        top: 0px;
    }
/*display*/
    10%,40% {
        top: 0px;
        opacity: 1;
        z-index: 0;
    }
    /*exiting*/
    50%{
        top: 485px;
        opacity: 0;
        z-index: 0;
    }

    60% {
        top: -485px;
        opacity: 0;
        z-index: -1;
    }
    /*entering*/
    90%{
        top: -485px;
        opacity: 0;
    }

    100% {
        top: 0px;
        opacity: 1;
    }
}


@-webkit-keyframes slide2 {
    0%{
        top: -485px;
        opacity: 0;
    }

    40% {
        top:-485px;
        opacity: 0;
    }
    
    50%,80% {
        top: 0px;
        opacity: 1;
        z-index: 0;
    }

    90% {
        top: 485px;
        opacity: 0;
    }

    100% {
        top: -485px;
        opacity: 0;
    }
}

body
{
    margin: 50px auto;
}

article header {
    font: normal 3em 'Flamenco';
    text-align: center;
}

.main{
    margin: 0 auto;
    overflow: hidden;
    width: 960px;
}

#content-slider {
	width:100%;
	height:480px;
	margin:10px auto 0;
}

#slides{
    border: 2px solid #808080;
    box-shadow: 0 0 1em #c2bcbc;
    width: 640px;
    height: 480px;
    margin: 20px auto;
    overflow: visible;
    position: relative;
}

#slides:hover {
    animation-play-state: paused;
}

#slides ul {
    margin: 0;
    padding: 0;
    position: relative;
}

#slides li {
    width: 640px;
    height: 480px;
    position: absolute;
    top: -485px;
    list-style: none;
}

#container{
    overflow: hidden;
    height: 480px;
}

/*only use 10s/2 time*/
#container li.animation1{
    -webkit-animation: slide1 10s linear infinite;
}

#container li.animation2{
    -webkit-animation: slide2 10s linear infinite;
}
